.git
.dart_tool
.build
.idea
.vscode
build
**/doc/api/
**/*.iml
BibleXpress.apk
_apk_extract/
linux/flutter/ephemeral
macos/Flutter/ephemeral
windows/flutter/ephemeral
ios/Flutter/ephemeral
android/.gradle
android/local.properties
**/.DS_Store
*.log
